{% extends "base.html" %}

{% block content %}
<h1>Sign up for Blogz!</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username: {{user_val}}</label></td>
            <td>
                <input name="username" type="text" value="{{username}}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password: {{pass_val}}{{space_val}}</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="vpassword">Verify Password: {{vpass_val}}</label></td>
            <td>
                <input name="vpassword" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Sign Up">
</form>
{% endblock %}